/* Navbar styling */
.navModified {
  position: relative;
  z-index: 100;
}
.navBottom {
  background: rgba(1, 163, 164,1.0);
  padding-bottom: 32px;
  z-index: 100;
  position: relative;
  display: flex;
  justify-content:space-between;
  padding: 18px 6%;
  align-items:center;

}
@media (max-width: 991px) {
  .navBottom {
   flex-direction:column;
   gap:20px;
  }
}
.langAcess {
  display: flex;
  align-items: center;
  gap: 20px;
}
.languageRtl {
  display: flex;
  cursor: pointer;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.langArabic {
  border-right: none;
  padding-left: 20px;
  padding-right: 0;
  border-left: 1px solid #fff;
}
.languageRtl > img {
  margin-bottom: -10px;
}
.languageRtl > p {
  font-size: 14px;
  font-family: "DINNext-Regular", sans-serif;
}
.languageRtl > p:hover {
  text-shadow: 1px 0px;
}
.fonts {
  display: flex;
  align-items: center;
  gap: 15px;
}
.fonts > p {
  padding-right: 15px;
  border-right: 1px solid #fff;
  cursor: pointer;
}
.fonts > p {
  font-family: "DINNext-Regular", sans-serif;
}
.fonts > p:hover {
  text-shadow: 1px 0px;
}
.fonts > p:first-child {
  border: none;
}
.contactDate {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "DINNext-Regular", sans-serif;
}
.language {
  font-family: "DINNext-Regular", sans-serif;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}
.language::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 1px;
  left: 50%;
  bottom: 0;
  background-color: #1c7a54;
  transition: all ease-in-out 0.2s;
}
.language:hover::after {
  width: 100%;
  left: 0;
}
.language:hover {
  text-shadow: 1px 0px;
}